* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none !important;
}

/********************** login section *********************/
.login-page {
  background-color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 94px;
  align-items: center;
  padding-top: 72px;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.error {
  font-size: 16px;
  color: red;
}

.login input {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;

  width: 70vw;
  height: 54px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.login input::placeholder {
  color: #aeaeae;
}

button {
  height: 45px;
  width: 109px;

  color: #696969;
  background-color: #e7e7e7;

  font-size: 18px;
  font-weight: 400;

  border: none;
  border-radius: 9px;
}

button:hover {
  cursor: pointer;
  background-color: orange;
}

/********************** header section *********************/
header {
  height: 80px;
  background-color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
}

header ion-icon {
  font-size: 45px;
}

header ion-icon:hover,
footer ion-icon:hover {
  cursor: pointer;
  color: darkorange;
}

/********************** main section *********************/
main {
  margin: 106px 0;
}

.msg {
  margin: 4px 0;
  padding: 13px 9px;
}

p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

small {
  color: #aaa;
}

strong {
  font-weight: 700;
}

.status-msg {
  background-color: #dcdcdc;
}

.default-msg {
  background-color: #fff;
}

.private-msg {
  background-color: #ffdede;
}

/********************** aside section *********************/
aside > div {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.exit-sidebar {
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  width: 30vw;
}

.sidebar {
  overflow-y: scroll;
  background-color: #fff;
  right: 0;
  width: 70vw;

  padding: 25px 27px 0 21px;
}

aside p {
  font-size: 16px;
}

.sidebar {
  text-align: center;
}

.sidebar img {
  display: none;
}

.sidebar .visible {
  display: initial;
}

.contacts,
.visibilities {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 25px 0;
}

.contact-content,
.visibility-content {
  display: flex;
  gap: 8px;
  align-items: center;
}

.contact,
.visibility {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact ion-icon {
  font-size: 25px;
}

.visibility ion-icon {
  font-size: 22px;
}

.contacts,
.visibilities {
}

/********************** footer section *********************/
footer {
  height: 80px;
  background-color: #fff;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;
}

footer input {
  width: 60vw;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  border: none;
}

footer input::placeholder {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

footer ion-icon {
  font-size: 26px;
}

.private-msg-description {
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 300;

  display: initial;

  position: absolute;
  padding-top: 10px;
  bottom: 10px;
  left: 17px;
}
